<!DOCTYPE html>
<html>
<head>
    <title>Result</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="terminal">
    <pre><%= result %></pre>
    <hr>
    <pre><strong>COOKIE:</strong> <%= cookies %></pre>
    <pre><strong>ACCESS TOKEN:</strong> <%= token %></pre>
    <a href="/">Back</a>
</div>
</body>
</html>
